@import url('../base/base.css');

body{
    background-image: radial-gradient(circle at 100% 100vh, rgba(100,8,196,0.3), rgba(100,8,196, 0)),
                      radial-gradient(circle at 19em calc(100vh + 6em + 14em), rgba(100,8,196,0.3), rgba(100,8,196, 0) 50%),
                      linear-gradient(to top, rgba(100,8,196,0.3) 0%, rgba(100,8,196, 0) 30%);
    background-attachment: scroll, scroll, scroll;
    background-position: left top, left top, left top;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

header{
    width:100%;
    max-height: calc(100vh - 1px);
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #6408c4;
}

header .slides{
    height: 100%;
    width:min-content;
    overflow:hidden;
    transition: transform 1s cubic-bezier(0, 0, 0.2, 1) 0s;
    display: flex;
}

header .slides .slide{
    position: relative;
}

header .slides .slide img{
    width: 100vw;
}

header .slides .slide .desc{
    position: absolute;
    color: white;
    right: 0px;
    top: 0px;
    height:100%;
    width:calc(50% - 16rem);
    display: flex;
    align-items: center;
    padding: 0em 4rem 0em 12rem;
    background: linear-gradient(to left, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 100%);
}

header .nav{
    position: absolute;
    left:0px;
    bottom:0px;
    width:100%;
    display: flex;
    justify-content: space-between;
}

header .nav .control{
    display: flex;
}

header .nav .control button{
    margin: 0px;
    padding: 0px;
    height: 3rem;
    width:3rem;
    border:none;
    border-top:1px solid #6408c4;
    border-left:1px solid #6408c4;
    border-radius: 0px;
    background: none;
    cursor: pointer;
    transition: background 200ms ease-out 0s;
}

header .nav .control button:hover{
    background: rgba(255,255,255,0.2);
}

header .nav .indicator{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:18em;
}

header .nav .indicator .point{
    height:5px;
    /* width:calc(100% / 3 - 1em); */
    border: 1px solid #6408c4;
    box-shadow: #6408c4 0px 0px 5px 0px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1) 0s, 
                background 200ms cubic-bezier(0, 0, 0.2, 1) 0s;
}

header .nav .indicator .point.active{
    box-shadow: #6408c4 0px 0px 10px 3px;
    background: #6408c4;
}

#info{
    width:100%;
    padding: 6rem 0rem 3rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#info .img{
    width: 30%;
    position: relative;
    overflow: visible;
    border-radius: 100%;
    border: red;
    /* background-image: radial-gradient(circle at 50% 50%, rgba(100,8,196,0.3), rgba(100,8,196,0.15) 100%);
    background-attachment: scroll, scroll;
    background-position: left top, left top;
    background-repeat: no-repeat, no-repeat;
    box-shadow: rgba(100,8,196, 0.2) 0px 0px 100px 100px; */
}

#info .img img{
    width: 100%;
    position: relative;
}

#info .cap{
    width: 40%;
}

#info .cap h1{
    font-size: 2em;
}

#recommendation{
    width: 100%;
    padding: 3rem 0rem;
}

#recommendation h1{
    font-size: 3em;
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

#recommendation .list{
    width: calc(100% - 8rem);
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 0rem 4rem;
}

#recommendation .list .item{
    display: flex;
    align-items: center;
    margin: 0rem 4rem 4rem 4rem;
    box-shadow: rgba(100,8,196, 0.1) 0px 0px 100px 100px,
                inset 0px 0px 100px rgba(100,8,196, 0.16);
    border-radius: 4px;
}

#recommendation .list .item .img{
    background: hsl(0, 0%, 95%);
    z-index: 1;
    margin-right: -2.5rem;
    border-radius: 4px;
    overflow: hidden;
    height: 5rem;
    width: 5rem;
}

#recommendation .list .item img{
    width:calc(100% + 2px);
    margin-left: -1px;
}

#recommendation .list .item .desc{
    background: rgb(100,8,196);
    width: 15rem;
    height: 6rem;
    position: relative;
    z-index: 0;
    border-radius: 4px;
    padding-left: calc(2.5rem + 1rem);
}

#recommendation .list .item .desc h3{
    margin-bottom: 0.5rem;
}

#recommendation .list .item .desc p{
    margin-top: 0.5rem;
}

#location{
    width:calc(100% - 2rem);
    padding:8rem 1rem 9rem 1rem;
    display: flex;
    justify-content: space-around;
}

#location .map{
    width: 30%;
}

#location .map h1{
    font-size: 3rem;
    margin: -5rem 0rem 3rem 0rem;
}

#location .map img{
    width: 100%;
    border-radius: 4px;
}

#location .contact{
    width:30%;
}

#location .contact h3{
    font-size: 2em;
}

footer{
    padding:1rem 0.5rem;
    text-align: center;
}

@media screen and (max-width: 900px){
    header{
        max-height: none;
    }

    header .slides{
        height: auto;
    }

    header .slides .slide img{
        z-index: 0;
    }

    header .slides .slide .desc{
        position: relative;
        height: auto;
        width: 100%;
        padding: 1rem;
        display: block;
        background: black;
        margin-top: -1rem;
        z-index: 1;
    }

    header .nav{
        position: relative;
        flex-direction: column;
        background: black;
    }

    header .nav .indicator{
        width: calc(100% - 2rem);
        padding: 1rem;
    }

    header .nav .control button{
        width: 100%;
    }

    header .nav .control button.prev{
        border-left: none;
    }
}

@media  screen and (max-width: 720px) {
    #info{
        flex-direction: column;
    }

    #info .img{
        width: calc(100% - 2rem);
        max-width: 20rem;
    }

    #info .cap{
        width: calc(100% - 2rem);
    }

    #recommendation h1{
        font-size: 2rem;
    }

    #location{
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;
    }

    #location .map{
        width: 100%;
    }

    #location .map h1{
        text-align: center;
        width: 100%;
    }

    #location .contact{
        width: 100%;
    }
}