@import url('./navbar.css');

@font-face {
    font-family: 'Clip';
    src: url('../clip/Clip.ttf');
}

html{
    overflow-y: auto;
}

body{
    overflow:visible;
}

body{
    background-color: hsl(0,0%,0%);
    color: rgba(255,255,255,0.82);
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}